<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,805},{348,225}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{348,225}}</string>
                <key>sourceSize</key>
                <string>{400,265}</string>
            </dict>
            <key>board_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,805},{348,225}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,19},{348,225}}</string>
                <key>sourceSize</key>
                <string>{400,265}</string>
            </dict>
            <key>btn_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1865},{254,125}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{254,125}}</string>
                <key>sourceSize</key>
                <string>{280,147}</string>
            </dict>
            <key>btn_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1809},{254,125}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{254,125}}</string>
                <key>sourceSize</key>
                <string>{280,147}</string>
            </dict>
            <key>btn_help_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,1226},{259,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_help_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1403},{259,186}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,186}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_help_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1420},{259,178}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,178}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_help_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1769},{259,170}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,170}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_help_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1859},{259,162}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,162}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_info_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1184},{259,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_info_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1271},{259,186}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,186}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_info_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1378},{259,178}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,178}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_info_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1600},{259,168}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,168}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_info_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1701},{259,162}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,162}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_like_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,1184},{259,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_like_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1378},{259,184}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,184}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_like_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1591},{259,176}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,176}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_like_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1637},{259,170}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,170}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_like_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1695},{259,162}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,162}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_normal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1032},{259,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_normal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1345},{259,184}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,184}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_normal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1459},{259,176}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,176}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_normal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1531},{259,168}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,168}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_normal_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1736},{259,160}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,160}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_press_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,209},{259,192}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,192}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_press_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1345},{259,184}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,184}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_press_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,1558},{259,176}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,176}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_press_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1564},{259,170}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,170}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_music_press_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1531},{259,162}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{259,162}}</string>
                <key>sourceSize</key>
                <string>{265,196}</string>
            </dict>
            <key>btn_no_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1878},{324,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{324,106}}</string>
                <key>sourceSize</key>
                <string>{346,132}</string>
            </dict>
            <key>btn_no_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1844},{324,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{324,106}}</string>
                <key>sourceSize</key>
                <string>{346,132}</string>
            </dict>
            <key>btn_start_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,805},{377,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{377,284}}</string>
                <key>sourceSize</key>
                <string>{417,290}</string>
            </dict>
            <key>btn_start_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,695},{377,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{377,284}}</string>
                <key>sourceSize</key>
                <string>{417,290}</string>
            </dict>
            <key>btn_start_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,519},{377,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{377,284}}</string>
                <key>sourceSize</key>
                <string>{417,290}</string>
            </dict>
            <key>btn_start_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,519},{377,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{377,284}}</string>
                <key>sourceSize</key>
                <string>{417,290}</string>
            </dict>
            <key>btn_start_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,519},{377,284}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{377,284}}</string>
                <key>sourceSize</key>
                <string>{417,290}</string>
            </dict>
            <key>btn_start_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,403},{387,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,290}}</string>
                <key>sourceSize</key>
                <string>{387,290}</string>
            </dict>
            <key>btn_yes_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,1770},{324,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{324,106}}</string>
                <key>sourceSize</key>
                <string>{346,132}</string>
            </dict>
            <key>btn_yes_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1736},{324,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{324,106}}</string>
                <key>sourceSize</key>
                <string>{346,132}</string>
            </dict>
            <key>item_bamboo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{1531,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1531,181}}</string>
                <key>sourceSize</key>
                <string>{1531,181}</string>
            </dict>
            <key>item_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,336},{104,131}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{104,131}}</string>
                <key>sourceSize</key>
                <string>{120,149}</string>
            </dict>
            <key>item_star0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1111},{381,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{381,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1193},{389,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1032},{389,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1263},{389,138}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{389,138}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>label_hitmouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1750,332}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{1750,332}}</string>
                <key>sourceSize</key>
                <string>{1800,362}</string>
            </dict>
            <key>obj_hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{490,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,336}}</string>
                <key>sourceSize</key>
                <string>{490,336}</string>
            </dict>
            <key>obj_hole_level_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{395,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,252}}</string>
                <key>sourceSize</key>
                <string>{395,252}</string>
            </dict>
            <key>obj_hole_level_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,981},{327,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{327,210}}</string>
                <key>sourceSize</key>
                <string>{395,252}</string>
            </dict>
            <key>obj_hole_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1091},{324,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,178}}</string>
                <key>sourceSize</key>
                <string>{324,178}</string>
            </dict>
            <key>obj_mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,2},{259,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,205}}</string>
                <key>sourceSize</key>
                <string>{259,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_sprite1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11450c3afd5320652838d7adc542229d$</string>
            <key>textureFileName</key>
            <string>sheet_sprite1.png</string>
        </dict>
    </dict>
</plist>
