<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_menu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,869},{308,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{308,242}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_menu_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,369},{320,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,250}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_next_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,865},{308,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{308,242}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_next_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{320,248}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,248}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_pause_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{298,147}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{298,147}}</string>
                <key>sourceSize</key>
                <string>{330,173}</string>
            </dict>
            <key>btn_pause_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,949},{298,147}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{298,147}}</string>
                <key>sourceSize</key>
                <string>{330,173}</string>
            </dict>
            <key>btn_replay_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,621},{308,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{308,242}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_replay_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,369},{284,216}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{284,216}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_resume_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{308,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{308,242}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_resume_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,621},{318,246}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{318,246}}</string>
                <key>sourceSize</key>
                <string>{320,250}</string>
            </dict>
            <key>btn_start_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{344,365}}</string>
                <key>offset</key>
                <string>{19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{344,365}}</string>
                <key>sourceSize</key>
                <string>{422,461}</string>
            </dict>
            <key>btn_start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,451}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{404,451}}</string>
                <key>sourceSize</key>
                <string>{422,461}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_sprite6.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ace739ba7a35a52be57fcbc42bd8a69$</string>
            <key>textureFileName</key>
            <string>sheet_sprite6.png</string>
        </dict>
    </dict>
</plist>
