<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>obj_hammer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{321,513}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{321,513}}</string>
                <key>sourceSize</key>
                <string>{407,523}</string>
            </dict>
            <key>obj_hammer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,523}}</string>
                <key>offset</key>
                <string>{-34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{317,523}}</string>
                <key>sourceSize</key>
                <string>{407,523}</string>
            </dict>
            <key>obj_hammer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,527},{339,393}}</string>
                <key>offset</key>
                <string>{1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,109},{339,393}}</string>
                <key>sourceSize</key>
                <string>{407,523}</string>
            </dict>
            <key>obj_hammer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,387},{339,371}}</string>
                <key>offset</key>
                <string>{18,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,125},{339,371}}</string>
                <key>sourceSize</key>
                <string>{407,523}</string>
            </dict>
            <key>obj_hammer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{373,383}}</string>
                <key>offset</key>
                <string>{17,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,116},{373,383}}</string>
                <key>sourceSize</key>
                <string>{407,523}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_sprite3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd31b6e148c48c1a90946159e244ac27$</string>
            <key>textureFileName</key>
            <string>sheet_sprite3.png</string>
        </dict>
    </dict>
</plist>
