<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>board_combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,743},{344,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,137}}</string>
                <key>sourceSize</key>
                <string>{344,137}</string>
            </dict>
            <key>board_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,598},{359,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,143}}</string>
                <key>sourceSize</key>
                <string>{359,143}</string>
            </dict>
            <key>board_mouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1641,743},{316,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,160}}</string>
                <key>sourceSize</key>
                <string>{316,160}</string>
            </dict>
            <key>board_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1385,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1385,720}}</string>
                <key>sourceSize</key>
                <string>{1385,720}</string>
            </dict>
            <key>item_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{1281,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1281,220}}</string>
                <key>sourceSize</key>
                <string>{1281,220}</string>
            </dict>
            <key>item_star00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,446},{381,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{381,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,154},{389,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,2},{389,150}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,150}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>item_star33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,306},{389,138}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{389,138}}</string>
                <key>sourceSize</key>
                <string>{395,150}</string>
            </dict>
            <key>label_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{800,380}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,380}}</string>
                <key>sourceSize</key>
                <string>{800,380}</string>
            </dict>
            <key>label_youlose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1291,422}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1291,422}}</string>
                <key>sourceSize</key>
                <string>{1291,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_sprite5.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebbc85160ceaf781a66c4da99f6a80d1$</string>
            <key>textureFileName</key>
            <string>sheet_sprite5.png</string>
        </dict>
    </dict>
</plist>
