<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>obj_bom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1852},{178,188}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,51},{178,188}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1283},{202,244}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,7},{202,244}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1645},{184,260}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{184,260}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{202,260}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{202,260}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1645},{184,254}}</string>
                <key>offset</key>
                <string>{-7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,5},{184,254}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,567},{308,262}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{308,262}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_bom_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1645},{184,274}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,6},{184,274}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{224,112}}</string>
                <key>offset</key>
                <string>{-14,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,176},{224,112}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1251},{234,144}}</string>
                <key>offset</key>
                <string>{-12,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,144},{234,144}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1793,1073},{240,176}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,112},{240,176}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1775,206},{258,240}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,48},{258,240}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1421},{258,222}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,15},{258,222}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_diamond_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,831},{360,240}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{360,240}}</string>
                <key>sourceSize</key>
                <string>{364,288}</string>
            </dict>
            <key>obj_hole.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,206},{404,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,164}}</string>
                <key>sourceSize</key>
                <string>{404,164}</string>
            </dict>
            <key>obj_mouse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,448},{312,117}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,119},{312,117}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,716},{360,227}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{360,227}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,500},{360,263}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{360,263}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,372},{360,265}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{360,265}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,765},{350,265}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{350,265}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,639},{360,249}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,249}}</string>
                <key>sourceSize</key>
                <string>{360,285}</string>
            </dict>
            <key>obj_mouse_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1073},{325,208}}</string>
                <key>offset</key>
                <string>{-14,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,78},{325,208}}</string>
                <key>sourceSize</key>
                <string>{381,286}</string>
            </dict>
            <key>obj_mouse_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{329,252}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,34},{329,252}}</string>
                <key>sourceSize</key>
                <string>{381,286}</string>
            </dict>
            <key>obj_mouse_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,945},{337,244}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{337,244}}</string>
                <key>sourceSize</key>
                <string>{381,286}</string>
            </dict>
            <key>obj_mouse_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1162},{323,246}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{323,246}}</string>
                <key>sourceSize</key>
                <string>{381,286}</string>
            </dict>
            <key>obj_mouse_hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1304},{323,232}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,54},{323,232}}</string>
                <key>sourceSize</key>
                <string>{381,286}</string>
            </dict>
            <key>obj_oldman_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1054},{337,166}}</string>
                <key>offset</key>
                <string>{-6,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,152},{337,166}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1191},{335,228}}</string>
                <key>offset</key>
                <string>{-5,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,90},{335,228}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1032},{335,270}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,48},{335,270}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1129,890},{335,270}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,48},{335,270}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1032},{335,270}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,48},{335,270}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{411,226}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{411,226}}</string>
                <key>sourceSize</key>
                <string>{535,318}</string>
            </dict>
            <key>obj_oldman_hit_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{357,274}}</string>
                <key>offset</key>
                <string>{-52,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,69},{357,274}}</string>
                <key>sourceSize</key>
                <string>{483,350}</string>
            </dict>
            <key>obj_oldman_hit_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,206},{415,292}}</string>
                <key>offset</key>
                <string>{-27,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{415,292}}</string>
                <key>sourceSize</key>
                <string>{483,350}</string>
            </dict>
            <key>obj_oldman_hit_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{473,342}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{473,342}}</string>
                <key>sourceSize</key>
                <string>{483,350}</string>
            </dict>
            <key>obj_oldman_hit_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,452},{415,262}}</string>
                <key>offset</key>
                <string>{-27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,86},{415,262}}</string>
                <key>sourceSize</key>
                <string>{483,350}</string>
            </dict>
            <key>obj_oldman_hit_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,206},{473,244}}</string>
                <key>offset</key>
                <string>{1,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,106},{473,244}}</string>
                <key>sourceSize</key>
                <string>{483,350}</string>
            </dict>
            <key>obj_ray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2040,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{2040,202}}</string>
                <key>sourceSize</key>
                <string>{2040,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sheet_sprite2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b349003fb99beb7d9fd90e4d2d921c$</string>
            <key>textureFileName</key>
            <string>sheet_sprite2.png</string>
        </dict>
    </dict>
</plist>
